* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
header {
  background-image: url("img/fondo_1.jpg");
  width: 100vw;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.header__tittle {
  text-transform: uppercase;
  background-color: rgba(129, 126, 126, 0.333);
  color: black;
  font-size: 5vw;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
}
.header__img {
  max-width: 100%;
  max-height: 100%;
}
.main {
  background-color: rgb(8 63 97);
  width: 100vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main__section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.main__tittle {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.main__section--measurement {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 25px;
}
.main__section--measurement input {
  padding: 10px;
  border-radius: 10px;
  border: rgb(0 145 234);
  outline: none;
  text-align: center;
  font-size: 20px;
}
.main__section--result {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main__section--result h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.main__section--results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
  max-width: 100%;
}
.main__section--results label {
  font-size: 25px;
}
.main__section--result--div {
  background-color: rgb(168 172 173);
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}
.main__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main__button button {
  padding: 10px 20px;
  border-radius: 10px;
  border: rgb(0 145 234);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
}
.main__button button:hover {
  background-color: rgb(0 145 234);
  color: white;
}
